.App {
  text-align: center;
  margin: 0 auto;
  width: 60vw;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.search-bar {
  margin: 1rem;
}
.coin-img {
  height: 48px;
  margin-right: 8px;
}
.coin-name {
  display: flex; 
}
.coin-label {
  font-size: 14px;
}